:root {
  --text-black: #513f42;
  --text-brown: #70585c;
  --white: #fffefc;
  --base: #fffcfc;
  --pink: #f9f0f1;
  --sun: #da969b;
  --gray: #635d5d;
  --sky: linear-gradient(180deg, rgba(255,242,224,1) 0%, rgba(251,237,237,1) 20%, rgba(248,242,244,1) 72%, rgba(235,245,255,1) 100%);

  --text-jp: "Noto Sans JP", noto-sans-cjk-jp, sans-serif;
  --text-en: "Roboto", "Arial", "Noto Sans JP", noto-sans-cjk-jp, sans-serif;
  --text-enc: "Dancing Script", cursive;

}
