//他ファイルからの使用
@use "../variables" as *;
@use "../mixins" as *;

//WROKSのページナビ
.works-page {
  #waveCanvas {
    display: none;
  }

  main {
    margin-bottom: 64px;
  }

  .sect {
    padding-top: 0px;
  }

  .main-inner {
    padding-top: 84px;
    padding-bottom: 32px;
  }
}

.page-nav {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
  gap: 16px;

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    padding: 16px;

    @include mq {
      padding: 4px;
    }

    a {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
