//他ファイルからの使用
@use "../variables" as *;
@use "../mixins" as *;

//WROKSのページナビ
.works-page {
  #waveCanvas {
    display: none;
  }

  main {
    margin-bottom: 64px;
  }
  .sect {
    padding-top: 0px;
  }

  .main-inner {
    padding-top: 84px;
    padding-bottom: 32px;

    ul {
      // margin-top: 32px;
      display: flex;
      flex-direction: row;
      // justify-content: flex-end;
    }
  }

  li {
    padding: 16px;
    @include mq {
      padding: 4px;
    }
    a {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
