//他ファイルからの使用
@use "../variables" as *;
@use "../mixins" as *;

.work-page {
  #waveCanvas {
    display: none;
  }

  main {
    padding-top: 64px;
  }
  .works-area {
    width: 70%;
    // margin: 0 auto;
    grid-template-columns: 1fr;
    @include mq {
      width: 100%;
    }
  }

  .work {
    img {
      width: 70%;
      min-width: 272px;
      margin: 0 auto;
    }

    img:hover {
      transform: scale(1.05);
    }
  }

  .work-explanation {
    padding-top: 64px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    &-area {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
}

.skip {
  .category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.category-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.work-page {
  button {
    margin-bottom: 0;

    a {
      margin: 0 auto;
    }
  }

  .prenext-title {
    margin: 16px 0px 48px 0px;
  }
}
