//他ファイルからの使用
@use "../variables" as *;
@use "../mixins" as *;

// //ページネーションのスタイリング
// .pagination {
//   @include mq {
//     margin: 0 24px;
//   }
// }

// //パンくずリスト
// .breadcrumb_inner {
//   margin: 32px 80px;

//   span {
//     font-size: 20px;
//     font-weight: bold;
//   }

//   @include mq {
//     margin: 32px 24px;
//   }
// }

.works-nav {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}
